@{
	Layout = "_AboutLayout";
	ViewData["Title"] = "About Us";

}
@section AboutUsHead{
			<!-- Masthead-->
			<header class="masthead about">
				<div class="container mb-4 text-center">
					</div>
			</header>
}
@section TimelineSection{
			<!-- About-->
			<section class="content-section page-section" id="about">
				<div class="container">
					<div class="content-section-heading text-center">
                <h3 class="text-secondary mb-0">About Us</h3>
                <h2 class="mb-2">Who we Are</h2>
						<p class="section-subheading text-muted mb-4">Magic Words Therapy is an independent speech and language therapy service for children and adults that was set up in 2009</p>
            </div>
					
					<ul class="timeline">
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="../img/planning.jpg" alt="..." />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>2009-2011</h4>
									<h4 class="subheading">Our Humble Beginnings</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">We were just a group of doctors who want to help patients around the nation, we
										start a social media advertising awarding people on the Down-Syndrome</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="../img/modern-office.webp" alt="..." />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>March 2011</h4>
									<h4 class="subheading">An Agency is Born</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">We start booking call after another, and that's when we discover the demand for
										these services, people love it! that's when we realized that we should open an official agency</p>
								</div>
							</div>
						</li>
						<li>
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="../img/team.webp" alt="..." />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>December 2015</h4>
									<h4 class="subheading">Transition to Full Service</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">We realized that just us are not enough, so we start hiring an entire team,
										including doctors and operations managers, we later on added a whole customer service center</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image"><img class="rounded-circle img-fluid" src="../img/courses.webp" alt="..." />
							</div>
							<div class="timeline-panel">
								<div class="timeline-heading">
									<h4>July 2020</h4>
									<h4 class="subheading">Phase Two Expansion</h4>
								</div>
								<div class="timeline-body">
									<p class="text-muted">Our mission is to help patients all around the world and to achieve that we
										acquire systems and online meeting tools to achieve this goal. We start a fully online course and we
										also launched a new one-to-one consultant call system.</p>
								</div>
							</div>
						</li>
						<li class="timeline-inverted">
							<div class="timeline-image">
								<h4>
									Be Part
									<br />
									Of Our
									<br />
									Story!
								</h4>
							</div>
						</li>
					</ul>
				</div>
			</section>
			}
@section TeamSection{
			<!-- Team-->
			    <section class="page-section bg-light" id="team">
        <div class="content-section container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Our Team</h2>
                <h3 class="section-subheading text-muted">Below you can find some of the doctors from our team which consists of expert psychiatrists, psychologists, and consultants.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/doctortwo.webp" alt="..." />
                        <h4>Dr Fadi Maalouf</h4>
                        <p class="text-muted">
                            Child and Adolescent Psychiatry Consultant
                        </p>
                        <a class="btn btn-dark mx-2 disabled" href=""><i class=""> 15 Years of Experience</i></a>

                        <br />
                        <br />

                        <p>

                            Dr. Maalouf’s areas of clinical expertise include child and adolescent psychiatric disorders.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/doctorone.jpeg" alt="..." />
                        <h4>Rasha Hijazi</h4>
                        <p class="text-muted">Psychologist</p>
                        <a class="btn btn-dark mx-2 disabled" href="" ><i class=""> 7 Years of Experience</i></a>
                        <br />
                        <br />
                        <p>
                            Racha holds a MA and a BA with distinction in Clinical Psychology from the American University of Beirut.


                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/img/doctorthree.jpeg" alt="..." />
                        <h4>
                            Raghad Al Bizreh
                        </h4>
                        <p class="text-muted">
                            Speech Therapist
                        </p>
                        <a class="btn btn-dark mx-2 disabled" href="" aria-label=""><i class=""> 10 Years of Experience</i></a>
                        <br />
                        <br />
                        <p>
                            Raghad is a Syrian Speech and Language Pathologist.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">
    Each of our occupational and physical therapists have specific training in and specializations with different disorders your child may be experiencing.
    Please click on the button below to book a consultation with any one of our practitioners to learn more.


</p></div>

            </div>
           
                <div class=" mx-auto text-center">
                    <a class="btn btn-primary btn-xl" asp-controller="Booking" asp-action="Index">Go To Booking</a>

            </div>
        </div>
    </section>
}